body {
    color: rgba(18, 41, 77, 1);
    background-color: rgba(73, 94, 113, 0.11);
    font-family:"Lato", Helvetica, Arial, sans-serif;
    margin:0px;
    vertical-align: middle;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    margin:0px;
    z-index: 1;
    height:100%;
    display: block;
    background: url("../img/homepage.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.search-bar {
    position: absolute;
    top: 20%;
    left: 50% ;
    width: 550px;
    margin-left: -275px ;
    box-shadow: 0px 20px 5px 0px rgba(0,0,0, 0.45);
    z-index: 200;
    border-radius: 4px;

}
.search-bar-container {
    position: relative;


}
#search-bar {
    background-color: rgba(218, 223, 225, 0.87);
    border: none;
    outline: none;
    line-height:1.8;
    font-size: large;
    padding: 10px 28px 10px 60px;
    vertical-align: middle;
    border-radius: 4px;

}

#search-bar.searching {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-results {
    position:absolute;
    z-index:500;
    background-color: rgba(218, 223, 225, 0.87);
    box-shadow: 0px 20px 5px 0px rgba(0,0,0, 0.45);
    width: 100%;
    max-height: 300px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
.search-results-container {
    overflow: scroll;

    position:absolute;
    z-index:500;
    background-color: rgba(218, 223, 225, 0.87);
    box-shadow: 0px 20px 5px 0px rgba(0,0,0, 0.45);
    width: 100%;
    max-height: 300px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.title-row {
    margin: 0;
    padding-left: 20px;
    width: 100%;
    background-color: rgba(186, 190, 192, 0.97);
    position:sticky;
    top:0;
    z-index: 200;

}
.search-result, .live-search-row {
    width:100%;
    height: auto;
    font-size: 14px;
    padding: 10px 0px 5px 30px;
    margin: 0;
    /*margin: 10px 0px 0px 10px*/
}

.search-result:hover, .live-search-row:hover {
    background-color: rgba(40, 122, 255, 0.94);
    color: #ffffff;
}
h3.search-result-text {
    font-size: 14px;
    font-weight: 900;
    margin: 5px 0 5px 10px;
    display: inline-block;
}

input, input:focus, input:active {
    outline: none;
    line-height: 35px;
    border: none;
    border-bottom: solid 1px #c2c2c2;
    width: 100%;
    background-image: url("search-icon.png");
    background-size: 36px 31px;
    background-position: 7px 10px;
    background-repeat: no-repeat;
    /*background-size: contain;*/
}

.live-search-row {
    width:100%;
    display: block;
}

.mobile-search-bar-wrapper .arrow-image {
    /*width: 30px;*/
    position: static;
    float: right;
}
.search-result-img {
    display: block;
    width: 100% \9;
    max-width: 60px;
    height: auto;
    border-radius: 50%;
}